@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --font-cormorant-garamond: var(--font-cormorant-garamond), serif;
  --font-poppins: var(--font-poppins), sans-serif;
  --font-cinzel: var(--font-cinzel), serif;
}

.article {
  /* Default (Light) Text Color */
  @apply flex flex-col gap-3 font-poppins text-lg tracking-wide mb-20 text-[#1a1a1a];
  
  /* Dark Mode Text Color */
  @apply dark:text-[#e8e6e3];
}

.article > h1 {
  @apply font-cinzel text-5xl tracking-tight text-neutral-900 dark:text-white;
}

.article > h2 {
  @apply font-cinzel text-4xl tracking-tight font-bold text-neutral-800 dark:text-neutral-100;
}

/* Targeting Hyperlinks inside Articles specifically */
.article a {
  @apply text-blue-700 dark:text-blue-400 underline decoration-1 underline-offset-4 hover:opacity-80;
}

.article > blockquote {
  @apply pl-5 italic border-l-2 border-neutral-600/40 text-neutral-600 dark:text-neutral-400;
}
.text-glow{
  text-shadow:0 2px 4px rgba(0,0,0,.5);
}